<main>
    <div class="process">
        <div class="process__info">
            <h2>Название отеля</h2>
            <p style="margin-top: 10px;">Адрес отеля</p>
            <div class="process__hotel">
                <div class="hotel__specs">
                    <ul>
                        <li>Преимущество 1</li>
                        <li>Преимущество 2</li>
                        <li>Преимущество 3</li>
                        <li>Преимущество 4</li>
                        <li>Преимущество 5</li>
                        <li>Преимущество 6</li>
                    </ul>
                </div>
                <div>
                    <img class="hotel__img" src=" /img/room-img/room_2/room_2_intro.jpg " alt="фото">
                </div>
            </div>
        </div>
        <div style="margin-top: 10px;" class="process__user">
            <h2>Контактная информация</h2>
            <p style="margin-top: 10px;">Имя: <b><%= locals.user.FirstName %></b></p>
            <p style="margin-top: 10px;">Электронная почта: <b><%= locals.user.Email %></b></p>
        </div>
        <div class="process__payment">

            <div class="payment__info">
                <form class="check-form">
                    <div class="check-form__item">
                        <div class="check-form__item-group">
                            <h3 class="check-form__number" style="margin-right: 15px;">
                                <span class="check-form__number-icon">№</span>
                                <%= roomInfo.HotelID %>
                            </h3>
                            <% if (roomInfo.HotelStars === 5) { %>
                                <a class="btn btn_theme_link btn_theme_lux">Люкс</a>
                            <% } else { %>
                                <a class="btn btn_theme_link">Стандарт</a>
                            <% } %>
                            <div class="check-form__price-default"><b class="check-form__price-text"><%= roomInfo.HotelPrice %>₽</b> в сутки</div>
                        </div>
                    </div>
                    <div class="check-form__item check-form__item_with-calendar">
                        <div class="check-form__group-field">
                            <div class="check-form__field check-form__field_type-from">
                                <div class="field field_type_dropdown">
                                    <label class="field__label">
                                        <div class="field__title">Прибытие</div>
                                    </label>
                                    <input class="field__input" value="<%= locals.arrivalDate %>" readonly="">
                                </div>
                            </div>
                            <div class="check-form__field check-form__field_type-to">
                                <div class="field field_type_dropdown">
                                    <label class="field__label">
                                        <div class="field__title">Выезд</div>
                                    </label>
                                    <input class="field__input" value="<%= locals.departureDate %>" readonly="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="check-form__item check-form__item_with-guests">
                        <div class="field field_type_dropdown">
                            <label class="field__label">
                                <div class="field__title">Кол-во кроватей</div>
                            </label>
                            <input class="field__input" value="<%= locals.numberOfGuests %>" readonly="">
                        </div>
                    </div>
                    <div class="check-form__item">
                        <div class="check-form__conclusion"><span class="check-form__text"><%= roomInfo.HotelPrice %>₽ х <%= locals.daysToPay %> суток</span><span class="check-form__text"><%= locals.daysToPay * roomInfo.HotelPrice %>₽</span></div>
                        <div class="check-form__conclusion"><span class="check-form__text check-form__text_with-info">Сбор за дополнительные услуги</span><span class="check-form__text"><%= 300 * locals.numberOfGuests %>₽</span></div>
                    </div>
                    <div class="check-form__item">
                        <div class="check-form__final-price">
                            <div class="check-form__item-group">
                                <div class="check-form__final-price-text">Итого</div>
                                <div class="check-form__price-line"></div>
                                <div class="check-form__final-price-value"><%= (locals.daysToPay * roomInfo.HotelPrice) + (300 * locals.numberOfGuests)%>₽</div>
                            </div>
                        </div>
                    </div>
                    <div class="order-info">
                        <form method="post" action="/payment">
                            <input type="hidden" name="roomNumId" value="<%= roomInfo.HotelID %>">
                            <input type="hidden" name="roomID" value="<%= roomInfo._id %>">
                            <input type="hidden" name="pricePerDay" value="<%= roomInfo.HotelPrice %>">
                            <input type="hidden" name="daysToPay" value="<%= locals.daysToPay %>">
                            <input type="hidden" name="additionalServicesCost" value="<%= 300 * locals.numberOfGuests %>">
                            <input type="hidden" name="finalPrice" value="<%= (locals.daysToPay * roomInfo.HotelPrice) + (300 * locals.numberOfGuests)%>">
                            <input type="hidden" name="dateFrom" value="<%= locals.arrivalDate %>">
                            <input type="hidden" name="dateTo" value="<%= locals.departureDate %>">
                            <input type="hidden" name="numBeds" value="<%= locals.numberOfGuests %>">
                        </form>
                    </div>
                </form>
                <div class="success-container" id="modal">
                    <div class="success-content">
                        <img src="/img/svg/check-pay.svg" alt="check" width="50" height="50">
                        <h2>Аренда успешно оформлена!</h2>
                        <p>Информация о заказе появится в профиле.</p>
                    </div>
                </div>
            </div>
            
            <div class="modal">
                <form class="form" id="paymentForm" method="post" action="/payment">
                    <div class="card-info">
                        <div class="input_container">
                            <label class="input_label">Имя держателя карты</label>
                            <input class="input_field" maxlength="20" type="text" placeholder="Имя" id="cardName" required>
                        </div>
                        <div class="input_container">
                            <label class="input_label">Номер карты</label>
                            <input class="input_field" type="text" placeholder="0000 0000 0000 0000" id="cardNumber" oninput="formatCardNumber(this)" required>
                        </div>
                        <div class="input_container">
                            <label class="input_label">Срок действия / CVV</label>
                            <div class="split">
                                <input class="input_field" style="width: 250px;" type="text" placeholder="01/23" id="expiryDate" oninput="formatExpiryDate(this)" required>
                                <input class="input_field" style="width: 110px;" type="text" placeholder="CVV" id="cvv" oninput="formatCVV(this)" required>
                            </div>
                        </div>
                    </div>
                    <button class="checkout" id="makeOrder" style="cursor: pointer;" type="submit">
                        <span>Оплатить</span>
                    </button>
                    <div class="order-info" method="post" action="/payment">
                        <input type="hidden" name="roomNumId" value="<%= roomInfo.HotelID %>">
                        <input type="hidden" name="roomID" value="<%= roomInfo._id %>">
                        <input type="hidden" name="pricePerDay" value="<%= roomInfo.HotelPrice %>">
                        <input type="hidden" name="daysToPay" value="<%= locals.daysToPay %>">
                        <input type="hidden" name="additionalServicesCost" value="<%= 300 * locals.numberOfGuests %>">
                        <input type="hidden" name="finalPrice" value="<%= (locals.daysToPay * roomInfo.HotelPrice) + (300 * locals.numberOfGuests)%>">
                        <input type="hidden" name="dateFrom" value="<%= locals.arrivalDate %>">
                        <input type="hidden" name="dateTo" value="<%= locals.departureDate %>">
                        <input type="hidden" name="numBeds" value="<%= locals.numberOfGuests %>">
                    </div>
                    <% if (messages.error) { %>
                        <div style="text-align: center;"><%- messages.error %></div>
                    <% } %>
                </form>
            </div>
        </div>


    </div>
</main>

<script>
    const modal = document.querySelector(".success-container");
    const orderButton = document.getElementById("makeOrder");
   
    orderButton.addEventListener('click', function() {
        const isAuth = ''

        if (isAuth) {
            setTimeout(() => { 
                modal.classList.toggle('success-container__on');
            }, 1000);
        }

    });

    document.querySelector('input[name="numBeds"]').addEventListener('input', function() {
        this.value = this.value.replace(/[^\d]/g, '');
    });


    function formatCardNumber(input) {
        const value = input.value.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
        const matches = value.match(/\d{4,16}/g);
        const match = matches ? matches[0] : '';
        const parts = [];

        for (let i = 0, len = match.length; i < len; i += 4) {
            parts.push(match.substring(i, i + 4));
        }

        if (parts.length) {
            input.value = parts.join(' ');
        } else {
            input.value = value;
        }
    }

    function formatExpiryDate(input) {
        const value = input.value.replace(/\D/g, '');
        if (value.length >= 2) {
            input.value = value.slice(0, 2) + '/' + value.slice(2, 4);
        } else {
            input.value = value;
        }
    }

    function formatCVV(input) {
        const value = input.value.replace(/\D/g, '');
        input.value = value.slice(0, 3);
    }

</script>