<main class="rooms-page">
    <div class="rooms-page__container">
        <form method="post" action="/apply-filters">
            <div class="rooms-filter">
                <div class="rooms-filter__item">
                    <div class="rooms-filter__field rooms-filter__field_with-date">
                        <div class="field field_type_dropdown">
                            <label class="field__label">
                                <div class="field__title">Прибытие</div>
                            </label>
                            <input required class="field__input field__input_with-date" autocomplete="off" name="dateFrom" type="date" value="<%= locals.arrivalDate %>">
                            <label class="field__label">
                                <div class="field__title">Выезд</div>
                            </label>
                            <input required class="field__input field__input_with-date" autocomplete="off" name="dateTo" type="date" value="<%= locals.departureDate %>">
                        </div>
                    </div>
                    <div class="rooms-filter__field rooms-filter__field_with-guests">
                        <div class="field field_type_dropdown">
                            <label class="field__label">
                                <div class="field__title">Кол-во спальных мест</div>
                            </label>
                            <input class="field__input" type="number" value="<%= locals.numberOfGuests %>" name="numBeds" max="5" min="1" oninput="checkNumValue(this)" onkeydown="return event.key !== '-' && event.key !== '.' && event.key !== ','">
                        </div>
                    </div>
                </div>
                <div class="rooms-filter__item rooms-filter__item_with-range-slider">
                    <label class="rooms-filter__label">Диапазон цены</label>
                    <div class="wrapper-double-filter">
                        <div class="wrapper-double-filter__price-input">
                          <div class="field">
                            <input type="number" class="input-min" name="priceMin" value="<%= locals.searchParams.priceMin || '' %>" min="1" max="15000" oninput="checkNumValue(this)" onkeydown="return event.key !== '-' && event.key !== '.' && event.key !== ','">
                          </div>
                          <div class="separator">-</div>
                          <div class="field">
                            <input type="number" class="input-max" name="priceMax" value="<%= locals.searchParams.priceMax || '' %>" min="1" max="15000" oninput="checkNumValue(this)" onkeydown="return event.key !== '-' && event.key !== '.' && event.key !== ','">
                          </div>
                        </div>
                        <div class="wrapper-double-filter__slider">
                          <div class="progress"></div>
                        </div>
                        <div class="wrapper-double-filter__range-input">
                          <input type="range" class="range-min" min="0" max="15000" value="<%= locals.searchParams.priceMin || '0' %>" step="100">
                          <input type="range" class="range-max" min="0" max="15000" value="<%= locals.searchParams.priceMax || '15000' %>" step="100">
                        </div>
                    </div>
                </div>
                <div class="rooms-filter__item">
                    <label class="rooms-filter__label">Привелегии</label>
                    <div class="rooms-filter__checkbox">
                        <div class="checkbox-list">
                            <ul class="checkbox-list__checkboxes">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="smoke" class="checkbox__input" type="checkbox" <% if (locals.searchParams.smoke) { %>checked<% } %>><span class="checkbox__span">Можно курить</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="fitness" class="checkbox__input" type="checkbox" <% if (locals.searchParams.fitness) { %>checked<% } %>><span class="checkbox__span">Фитнес</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="animals" class="checkbox__input" type="checkbox" <% if (locals.searchParams.animals) { %>checked<% } %>><span class="checkbox__span">Можно с животными</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="bathroom" class="checkbox__input" type="checkbox" <% if (locals.searchParams.bathroom) { %>checked<% } %>><span class="checkbox__span">Наличие ванной комнаты</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="parking" class="checkbox__input" type="checkbox" <% if (locals.searchParams.parking) { %>checked<% } %>><span class="checkbox__span">Парковка</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="guests" class="checkbox__input" type="checkbox" <% if (locals.searchParams.guests) { %>checked<% } %>><span class="checkbox__span">Можно пригласить гостей (до 5 человек)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="fullfood" class="checkbox__input" type="checkbox" <% if (locals.searchParams.fullfood) { %>checked<% } %>><span class="checkbox__span">Комплексный завтрак, обед и ужин</span>
                                    </label>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rooms-filter__item">
                    <label class="rooms-filter__label">Доступность</label>
                    <div class="rooms-filter__checkbox">
                        <div class="checkbox-list">
                            <ul class="checkbox-list__checkboxes">
                                <div class="checkbox checkbox_rich">
                                    <label class="checkbox__title_rich checkbox__label">
                                        <span>Звездность</span>
                                        <input style="width: 70px; margin-left: 20px; padding: 10px; text-align: center;" class="field__input" type="number" value="<%= locals.searchParams.stars || '5' %>" name="stars" max="5" min="1" oninput="checkNumValue(this)">
                                        <p class="checkbox__text_rich">От количества звезд зависит качество предоставляемых услуг</p>
                                        <p class="checkbox__text_rich">(Пустое поле - вывод всех номеров)</p>
                                    </label>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rooms-filter__item">
                    <div class="checkbox-list checkbox-list_expandable">
                        <label class="checkbox-list__title">Дополнительные удобства
                            <input class="checkbox-list__check" type="checkbox">
                            <div class="checkbox-list__cap"></div>
                            <ul class="checkbox-list__checkboxes">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="desk" class="checkbox__input" type="checkbox" <% if (locals.searchParams.desk) { %>checked<% } %>><span class="checkbox__span">Письменный стол</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="tv" class="checkbox__input" type="checkbox" <% if (locals.searchParams.tv) { %>checked<% } %>><span class="checkbox__span">Телевизор</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="internet" class="checkbox__input" type="checkbox" <% if (locals.searchParams.internet) { %>checked<% } %>><span class="checkbox__span">Интернет</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="conditioner" class="checkbox__input" type="checkbox" <% if (locals.searchParams.conditioner) { %>checked<% } %>><span class="checkbox__span">Кондиционер</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input name="swimming" class="checkbox__input" type="checkbox" <% if (locals.searchParams.swimming) { %>checked<% } %>><span class="checkbox__span">Бассейн</span>
                                    </label>
                                </div>
                            </ul>
                        </label>
                    </div>
                </div>
                <div class="filters-buttons">
                    <div class="filters-apply">
                        <button class="btn btn_theme_gradient" type="submit">Применить</button>
                    </div>

                        <button id="resetFiltersButton" style="margin-top: 25px;" class="btn btn_theme_gradient" type="button">Сбросить фильтры</button>

                    <div class="filters-close">
                        <button class="btn btn_theme_gradient" type="button">Закрыть</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="rooms">
            <h1 class="rooms__offer">Результаты поиска:<span class="js-rooms__show-filters">Показать фильтры</span></h1>
            <div class="rooms__grid <%= data.length === 0 ? 'no-rooms' : 'with-rooms' %>">
                <% if (data.length === 0) { %>
                    <div class="no-rooms-message">
                        <h2>Не найдено ни одного номера!</h2>
                    </div>
                <% } else { %>
                

                    <% data.forEach(hotel => { %>
                        
                        <div class="rooms-item">
                            <a class="rooms-item__link" href="/room/<%= hotel._id %>?dateFrom=<%= locals.arrivalDate %>&dateTo=<%= locals.departureDate %>&numBeds=<%= locals.numberOfGuests %>"></a>

                            <% if (hotel.RoomIsBooked == true) { %>
                                <div class="img__booked">
                                    <img class="rooms-item__img" src="<%= hotel.RoomURL %>" alt="Фотография номера">
                                </div>
                            <% } else { %>
                                <img class="rooms-item__img" src="<%= hotel.RoomURL %>" alt="Фотография номера">
                            <% } %>

                            <div class="rooms-item__wrapper">
                                <div class="rooms-item__info">
                                    <h2 class="rooms-item__num">
                                        <span class="rooms-item__num-ico">№</span>
                                        <span><%= hotel.RoomID %></span>
                                    </h2>
                                     
                                    <p class="rooms-item__price"><b class="rooms-item__price-text"><%= hotel.RoomPrice %></b> руб в сутки</p>
                                </div>
                                <div class="rooms-item__rating">
                                    <div class="rate">
                                        <% for( let i = 0; i < hotel.RoomStars; i++ ) { %>
                                            <span class="rate__star rate__star_selected">
                                                <svg class="rate__svg" width="21" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.264 15.749l-6.188 3.75 1.64-7.031L.28 7.732l7.172-.61L10.264.515l2.812 6.61 7.172.61-5.438 4.733 1.641 7.032-6.187-3.75z"></path>
                                                    <defs>
                                                        <linearGradient id="paint0_linear" x1="10.264" y1="-1.501" x2="10.264" y2="22.499" gradientUnits="userSpaceOnUse">
                                                            <stop offset="0" stop-color="#EEDAD2"></stop>
                                                            <stop offset="1" stop-color="#F3C9B9"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                </svg>
                                            </span>
                                        <% } %>
                                    </div>
        
                                    <p class="rooms-item__reviews"><b class="rooms-item__reviews-text">145</b> Отзывов</p>
                                </div>
        
                                <% if (hotel.RoomStars === 5) { %>
                                    <a class="btn btn_theme_link btn_theme_lux" href="#!">Люкс</a>
                                <% } else { %>
                                    <a class="btn btn_theme_link" href="#!">Стандарт</a>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>


                <% } %>



            </div>

            <% if (data.length === 0) { %>

                <div style="display: none;" class="no-pagaination"></div>

            <% } else { %>

                <div class="rooms__pagination">
                    <div class="pagination">
                        <div class="pagination__pages">

                            <% if (locals.currentPage > 1) { %>
                                <a class="pagination__item pagination__item_next" href="/search-rooms/page/<%= locals.currentPage - 1 %>">
                                    <svg class="pagination__arrow" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z"
                                        style="transform-box: fill-box; transform-origin: 50% 50%;" transform="matrix(-1, 0, 0, -1, 0, 0)"></path>
                                    </svg></a>
                                </a>
                            <% } %>

                            <% for(let i = 1; i <= locals.totalPages; i++) { %>
                                <a class="pagination__item <%= locals.currentPage == i ? 'pagination__item_current' : '' %>" href="/search-rooms/page/<%= i %>"><%= i %></a>
                            <% } %>
                            
                            <% if (locals.currentPage < locals.totalPages) { %>
                                <a class="pagination__item pagination__item_next" href="/search-rooms/page/<%= locals.currentPage + 1 %>">
                                <svg class="pagination__arrow" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z"></path>
                                </svg></a>
                            <% } %>
                        </div>
                        <div class="pagination__result"><%= (locals.currentPage - 1) * locals.maxItems + 1 %> - <%= Math.min(locals.currentPage * locals.maxItems, locals.roomsCount) %> из <%= locals.roomsCount %> вариантов аренды</div>
                    </div>
                </div>

            <% } %>
        </div>
    </div>
</main>

<script>
    const rangeInput = document.querySelectorAll(".wrapper-double-filter__range-input input"),
    priceInput = document.querySelectorAll(".wrapper-double-filter__price-input input"),
    range = document.querySelector(".wrapper-double-filter__slider .progress");
    let priceGap = 500;

    document.querySelector('input[name="numBeds"]').addEventListener('input', function() {
        this.value = this.value.replace(/[^\d]/g, '');
    });

    priceInput.forEach(input =>{
        input.addEventListener("input", e =>{
            let minPrice = parseInt(priceInput[0].value),
            maxPrice = parseInt(priceInput[1].value);
        
            if((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max){
                if(e.target.className === "input-min"){
                    rangeInput[0].value = minPrice;
                    range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";
                }else{
                    rangeInput[1].value = maxPrice;
                    range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
                }
            }
        });
    });

    priceInput[0].addEventListener("input", function(e) {
        let minPrice = parseInt(this.value);
        let maxPrice = parseInt(priceInput[1].value);
        if (minPrice >= maxPrice) {
            this.value = maxPrice - priceGap;
        }
    });

    priceInput[1].addEventListener("input", function(e) {
        let minPrice = parseInt(priceInput[0].value);
        let maxPrice = parseInt(this.value);
        if (maxPrice <= minPrice) {
            this.value = minPrice + priceGap;
        }
    });

    rangeInput.forEach(input =>{
        input.addEventListener("input", e =>{
            let minVal = parseInt(rangeInput[0].value),
            maxVal = parseInt(rangeInput[1].value);
            if((maxVal - minVal) < priceGap){
                if(e.target.className === "range-min"){
                    rangeInput[0].value = maxVal - priceGap
                }else{
                    rangeInput[1].value = minVal + priceGap;
                }
            }else{
                priceInput[0].value = minVal;
                priceInput[1].value = maxVal;
                range.style.left = ((minVal / rangeInput[0].max) * 100) + "%";
                range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
            }
        });
    });

    const fitlerButton = document.querySelector('.js-rooms__show-filters');
    const closeFilterButton = document.querySelector('.filters-close')
    const filterMenu = document.querySelector('.rooms-filter');

    fitlerButton.addEventListener('click', function() {
        filterMenu.classList.toggle('rooms-filter__on');
    });

    closeFilterButton.addEventListener('click', function() {
        filterMenu.classList.remove('rooms-filter__on');
    });

    document.getElementById('resetFiltersButton').addEventListener('click', function() {
    document.querySelector('input[name="smoke"]').checked = false;
    document.querySelector('input[name="fitness"]').checked = false;
    document.querySelector('input[name="animals"]').checked = false;
    document.querySelector('input[name="bathroom"]').checked = false;
    document.querySelector('input[name="parking"]').checked = false;
    document.querySelector('input[name="guests"]').checked = false;
    document.querySelector('input[name="fullfood"]').checked = false;
    document.querySelector('input[name="desk"]').checked = false;
    document.querySelector('input[name="tv"]').checked = false;
    document.querySelector('input[name="internet"]').checked = false;
    document.querySelector('input[name="conditioner"]').checked = false;
    document.querySelector('input[name="swimming"]').checked = false;
    document.querySelector('input[name="stars"]').value = '';

    document.getElementById('filterForm').submit();
});
</script>