<% function getTimeDifference(reviewDate) {
    const today = new Date();
    const review = new Date(reviewDate);
    const diffTime = Math.abs(today - review);
    const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));

    if (diffDays === 0) {
        return "Сегодня";
    } else if (diffDays === 1) {
        return "Вчера";
    } else {
        return `${diffDays} дней назад`;
    }
} %>


<main class="page-room">
    <div class="page-room__gallery">
        <div class="gallery">

            <% data.imageURLs.forEach(imageURL => { %>
                <figure class="gallery__item"><img class="gallery__img" src=" <%= imageURL %> " alt="Фотография номера"></figure>
            <% }) %>

        </div>
    </div>
    <div class="page-room__wrapper">
        <div class="page-room__container">
            <div class="page-room__info-grid">
                <div class="page-room__advan-list">
                    <h2 class="page-room__info-title">Сведения о номере</h2>
                    <ul class="page-room__advantages">
                        <ul class="advantages">

                            <% if (roomInfo.isSmoke) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">smoking_rooms</i>
                                    <div class="advantages__content"><b class="advantages__title">Курение</b>
                                        <p class="advantages__text">Есть помещения для<br>курения</p>
                                    </div>
                                </li>
                            <% } %>

                            <% if (roomInfo.isFitness) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">fitness_center</i>
                                    <div class="advantages__content"><b class="advantages__title">Фитнес</b>
                                        <p class="advantages__text">Зал для упражнений<br>рядом с номером</p>
                                    </div>
                                </li>
                            <% } %>

                            <% if (roomInfo.isAnimals) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">pets</i>
                                    <div class="advantages__content"><b class="advantages__title">Животные</b>
                                        <p class="advantages__text">В номер можно с<br>животными</p>
                                    </div>
                                </li>
                            <% } %>

                            <% if (roomInfo.isBathroom) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">bathtub</i>
                                    <div class="advantages__content"><b class="advantages__title">Ванная</b>
                                        <p class="advantages__text">Наличие ванной комнаты</p>
                                    </div>
                                </li>
                            <% } %>

                            <% if (roomInfo.isParking) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">local_parking</i>
                                    <div class="advantages__content"><b class="advantages__title">Парковка</b>
                                        <p class="advantages__text">Удобная парковка рядом</p>
                                    </div>
                                </li>
                            <% } %>

                            <% if (roomInfo.isGuests) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">groups</i>
                                    <div class="advantages__content"><b class="advantages__title">Гости</b>
                                        <p class="advantages__text">В номер можно позвать несколько гостей</p>
                                    </div>
                                </li>
                            <% } %>

                            <% if (roomInfo.isFullFood) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">restaurant</i>
                                    <div class="advantages__content"><b class="advantages__title">Питание</b>
                                        <p class="advantages__text">Комплексный завтрак,<br>обед и ужин</p>
                                    </div>
                                </li>
                            <% } %>

                            <% if (roomInfo.isDesk) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">desk</i>
                                    <div class="advantages__content"><b class="advantages__title">Письменный стол</b>
                                        <p class="advantages__text">Столик для вашего удобства</p>
                                    </div>
                                </li>
                            <% } %>

                            <% if (roomInfo.isTV) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">live_tv</i>
                                    <div class="advantages__content"><b class="advantages__title">Телевизор</b>
                                        <p class="advantages__text">Любые телеканалы на выбор</p>
                                    </div>
                                </li>
                            <% } %>
                                
                            <% if (roomInfo.isInternet) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">language</i>
                                    <div class="advantages__content"><b class="advantages__title">Интернет</b>
                                        <p class="advantages__text">Доступ в интернет без ограничений</p>
                                    </div>
                                </li>
                            <% } %>
                           
                            <% if (roomInfo.isConditioner) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">ac_unit</i>
                                    <div class="advantages__content"><b class="advantages__title">Кондиционер</b>
                                        <p class="advantages__text">Жарко точно не будет!</p>
                                    </div>
                                </li>
                            <% } %>
                           
                            <% if (roomInfo.isSwimming) { %>
                                <li class="advantages__item"><i class="material-icons advantages__icon">pool</i>
                                    <div class="advantages__content"><b class="advantages__title">Бассейн</b>
                                        <p class="advantages__text">Отдельный комплекс с бассейном рядом</p>
                                    </div>
                                </li>
                            <% } %>

                        </ul>
                    </ul>
                </div>
                <div class="page-room__impressions">
                    <h2 class="page-room__info-title">Впечатления от номера</h2>
                    <div class="donut">
                        <div class="donut__circle">
                            <svg class="donut__svg" width="100%" height="100%">
                                <g class="donut__text">
                                    <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" font-size="24px"><%= averageReviewScore %></text>
                                    <text x="50%" y="70%" text-anchor="middle" dominant-baseline="middle" font-size="14px">Ср. оценка</text>
                                </g>
                            </svg>
                        </div>
                        <ul class="donut__info">
                            <li style="margin-bottom: 10px;">Кол-во отзывов:</li>


                            <% let goodReviews = 0; %>
                            <% let averageReviews = 0; %>
                            <% let badReviews = 0; %>
                            <% roomReview.forEach(review => { %>
                                <% if (review.reviewRate >= 4) { %>
                                    <% goodReviews++; %>
                                <% } else if (review.reviewRate >= 3) { %>
                                    <% averageReviews++; %>
                                <% } else { %>
                                    <% badReviews++; %>
                                <% } %>
                            <% }) %>


                            <li class="donut__char">
                                <img style="margin-right: 10px;" src="/img/svg/smile.svg" alt="smile" width="20">
                                <div class="donut__lap-value">Хорошо (<%= goodReviews %>)</div>
                            </li>
                            <li class="donut__char">
                                <img style="margin-right: 10px;" src="/img/svg/normal.svg" alt="smile" width="20">
                                <div class="donut__lap-value">Так себе (<%= averageReviews %>)</div>
                            </li>
                            <li class="donut__char">
                                <img style="margin-right: 10px;" src="/img/svg/sad.svg" alt="smile" width="20">
                                <div class="donut__lap-value">Плохо (<%= badReviews %>)</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-room__reviews">
                    <div class="page-room__title-group">
                        <h2 class="page-room__info-title">Отзывы посетителей номера</h2><span class="page-room__info-value"><b class="page-room__count">Кол-во отзывов:</b><%= reviewCount %></span>
                    </div>
                    <ul class="reviews">
                        <% if (roomReview.length > 0) { %>
                            <% for (const review of roomReview) { %>
                                <li class="reviews__item">
                                    <div class="reviews__dynamics">
                                        <% if (review.reviewAuthorMale == "female") { %>
                                            <img class="reviews__avatar" src="/img/svg/women-avatar.svg" width="45">
                                        <% } else { %>
                                            <img class="reviews__avatar" src="/img/svg/man-avatar.svg" width="45">
                                        <% } %>        
                                        
                                        <div class="reviews__likes">
                                            <% if (review.reviewRate >= 4)  { %>
                                                <div class="reviews__likes">
                                                    <img src="/img/svg/smile.svg" alt="smile" width="35">
                                                </div>
                                            <% } else if (review.reviewRate >= 3) { %>
                                                <div class="reviews__likes">
                                                    <img src="/img/svg/normal.svg" alt="smile" width="35">
                                                </div>
                                            <% } else { %>
                                                <div class="reviews__likes">
                                                    <img src="/img/svg/sad.svg" alt="smile" width="35">
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="reviews__comment">
                                        
                                        <b class="reviews__author"><%= review.reviewAuthorName %></b> (<%= getTimeDifference(review.reviewDate) %>)
                                        <p style="margin-bottom: 8px;">Оценка: <%= review.reviewRate %></p>
                                        <div class="reviews__text"><%= review.reviewText %></div>
                                    </div>
                                </li>
                            <% } %>
                        <% } else { %>
                            <p>Не найдено ни одного отзыва!</p>
                        <% } %>  
                    </ul>
                </div>
                <div class="page-room__rules">
                    <h2 class="page-room__info-title">Правила</h2>
                    <div class="bullet-list">
                        <li class="bullet-list__item">Не оставлять после себя мусор</li>
                        <li class="bullet-list__item">Бережное отношение к имуществу отеля</li>
                        <li class="bullet-list__item">Время прибытия — после 9:00, а выезд до 10:00</li>
                    </div>
                </div>
                <div class="page-room__cancel">
                    <h2 class="page-room__info-title">Отмена</h2>
                    <p class="page-room__cancel-text">Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.</p>
                </div>
            </div>
            <form class="check-form" action="/order/<%= roomInfo._id %>" method="get">
                <div class="check-form__item">
                    <div class="check-form__item-group">
                        <h3 class="check-form__number" style="margin-right: 15px;">
                            <span class="check-form__number-icon">№</span>
                            <%= roomInfo.RoomID %>
                        </h3>
                        <% if (roomInfo.RoomStars === 5) { %>
                            <a class="btn btn_theme_link btn_theme_lux">Люкс</a>
                        <% } else { %>
                            <a class="btn btn_theme_link">Стандарт</a>
                        <% } %>
                        <div class="check-form__price-default"><b class="check-form__price-text"><%= roomInfo.RoomPrice %>₽</b> в сутки</div>
                    </div>
                </div>
                <div class="check-form__item check-form__item_with-calendar">
                    <div class="check-form__group-field">
                        <div class="check-form__field check-form__field_type-from">
                            <div class="field field_type_dropdown">
                                <label class="field__label">
                                    <div class="field__title">Прибытие</div>
                                </label>
                                <input class="field__input" value="<%= locals.arrivalDate %>" readonly="">
                            </div>
                        </div>
                        <div class="check-form__field check-form__field_type-to">
                            <div class="field field_type_dropdown">
                                <label class="field__label">
                                    <div class="field__title">Выезд</div>
                                </label>
                                <input class="field__input" value="<%= locals.departureDate %>" readonly="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="check-form__item check-form__item_with-guests">
                    <div class="field field_type_dropdown">
                        <label class="field__label">
                            <div class="field__title">Кол-во кроватей</div>
                        </label>
                        <input class="field__input" value="<%= locals.numberOfGuests %>" readonly="">
                    </div>
                </div>
                <div class="check-form__item">
                    <div class="check-form__conclusion"><span class="check-form__text"><%= roomInfo.RoomPrice %>₽ х <%= locals.daysToPay %> суток</span><span class="check-form__text"><%= locals.daysToPay * roomInfo.RoomPrice %>₽</span></div>
                    <div class="check-form__conclusion"><span class="check-form__text check-form__text_with-info">Сбор за дополнительные услуги</span><span class="check-form__text"><%= 300 * locals.numberOfGuests %>₽</span></div>
                </div>
                <div class="check-form__item">
                    <div class="check-form__final-price">
                        <div class="check-form__item-group">
                            <div class="check-form__final-price-text">Итого</div>
                            <div class="check-form__price-line"></div>
                            <div class="check-form__final-price-value"><%= (locals.daysToPay * roomInfo.RoomPrice) + (300 * locals.numberOfGuests)%>₽</div>
                        </div>
                    </div>
                </div>

                <% if (roomInfo.RoomIsBooked == true) { %>

                    <div class="bookingInfo">
                        <h3 style="text-align: center;">Данный номер уже забронирован</h3>
                    </div>
         
                <% } else { %>
                    <button class="btn btn_theme_gradient btn_with-arrow" type="submit" id="makeOrder">Оформить заказ
                        <svg class="btn_with-arrow__svg" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z"></path>
                        </svg>
                    </button>
                <% } %>

                <!-- <div class="order-info">
                    <form method="post" action="/order:id">
                        <input type="hidden" name="roomNumId" value="<%= roomInfo.RoomID %>">
                        <input type="hidden" name="roomID" value="<%= roomInfo._id %>">
                        <input type="hidden" name="pricePerDay" value="<%= roomInfo.RoomPrice %>">
                        <input type="hidden" name="daysToPay" value="<%= locals.daysToPay %>">
                        <input type="hidden" name="additionalServicesCost" value="<%= 300 * locals.numberOfGuests %>">
                        <input type="hidden" name="finalPrice" value="<%= (locals.daysToPay * roomInfo.RoomPrice) + (300 * locals.numberOfGuests)%>">
                        <input type="hidden" name="dateFrom" value="<%= locals.arrivalDate %>">
                        <input type="hidden" name="dateTo" value="<%= locals.departureDate %>">
                        <input type="hidden" name="numBeds" value="<%= locals.numberOfGuests %>">
                    </form>
                </div> -->
            </form>
        </div>
        <div class="success-container" id="modal">
            <div class="success-content">
                <img src="/img/svg/check-pay.svg" alt="check" width="50" height="50">
                <h2>Аренда успешно оформлена!</h2>
                <p>Информация о заказе появится в профиле.</p>
            </div>
        </div>
    </div>
</main>

<script>
    // const modal = document.querySelector(".success-container");
    // const orderButton = document.getElementById("makeOrder");
   
    // orderButton.addEventListener('click', function() {
    //     const isAuth = ''

    //     if (isAuth) {
    //         setTimeout(() => { 
    //             modal.classList.toggle('success-container__on');
    //         }, 1000);
    //     }

    // });

    // document.querySelector('input[name="numBeds"]').addEventListener('input', function() {
    //     this.value = this.value.replace(/[^\d]/g, '');
    // });

</script>